#recents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    width: 95%;
    justify-content: center;
}

.post {
    text-align: center;
}

#notice{
    font-family: "Wallpoet", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size:  35px;
        color: brown;
        text-align: center;
}

h1{
    font-family: "Shrikhand", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 5px;;

}

body{
        font-family: "Oldenburg", serif;
        font-weight: 400;
        font-style: normal;
        background-color: rgb(128, 200, 255);
        width: 75%;
        margin: 50px auto;
}

#recents .post img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}