@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Single:wght@100..900&family=Faculty+Glyphic&family=Goldman:wght@400;700&family=Lacquer&family=Mozilla+Headline:wght@200..700&family=Noto+Sans:wght@500&family=Offside&family=Oldenburg&family=Press+Start+2P&family=Share+Tech+Mono&family=Shrikhand&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne+Mono&family=Wallpoet&display=swap');

body {
    background-color: rgb(183, 203, 187);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    margin-right: 30px;
}

h1{
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,

}

h1 {
    text-align: center;
}

h2 {
    font-weight: 700;
    font-family: "Offside", sans-serif;
    font-style: normal;
}

a {
    color: #a1063d;
}

.bitcount-single-ink-h1 {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}


.mozilla-headline-h1 {
    font-family: "Mozilla Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.source-code-pro-body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}